# Train test split

In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')

In [3]:
df2 = df[['survived', 'pclass', 'age','parch']]
df3 = df2.fillna(df2.mean())
df3

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [4]:
x = df3.drop('survived',axis =1)
y = df3['survived']
print('Shape of x = ',x.shape)
print('Shape of y = ',y.shape)

Shape of x =  (891, 3)
Shape of y =  (891,)

In [5]:
from sklearn.model_selection import train_test_split

In [11]:
#all data me se thoda data test and thoda train keliye dete h 
# 0.2 means 20% ,and 0.3 means 30%
x_train ,x_test, y_train, y_test  = train_test_split(x,y,test_size =0.3,random_state =51)

print("shape of x_train = ", x_train.shape)
print("shape of x_test = ", x_test.shape)
print("shape of y_train = ", y_train.shape)
print("shape of y_test = ", y_test.shape)

shape of x_train =  (623, 3)
shape of x_test =  (268, 3)
shape of y_train =  (623,)
shape of y_test =  (268,)

In [9]:
x_train

     pclass        age  parch
277       2  29.699118      0
593       3  29.699118      2
156       3  16.000000      0
155       1  51.000000      1
579       3  32.000000      0
..      ...        ...    ...
580       2  25.000000      1
430       1  28.000000      0
85        3  33.000000      0
862       1  48.000000      0
42        3  29.699118      0

[623 rows x 3 columns]