In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
l1 =[1,2,3,45,'swadesh']
print(l1)

[1, 2, 3, 45, 'swadesh']

# create   series

In [7]:
s1= pd.Series(l1)
print(s1)

0          1
1          2
2          3
3         45
4    swadesh
dtype: object

In [8]:
type(s1)

pandas.core.series.Series

In [10]:
s2 =pd.Series([1,2,34,5,'swad'])
print(s2)

0       1
1       2
2      34
3       5
4    swad
dtype: object

In [11]:
empty_s  = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\maury\AppData\Local\Temp\ipykernel_2816\3669213299.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s  = pd.Series([])

In [13]:
s2 =pd.Series([1,2,34,5,22],dtype =float)
print(s2)

0     1.0
1     2.0
2    34.0
3     5.0
4    22.0
dtype: float64

In [15]:
s2 =pd.Series([1,2,34,5,22],dtype =float, index =(["a","b",'c',"d","e"]))
print(s2)

a     1.0
b     2.0
c    34.0
d     5.0
e    22.0
dtype: float64

In [16]:
s2 =pd.Series([1,2,34,5,22],dtype =int ,name = "data veriable")
print(s2)

0     1
1     2
2    34
3     5
4    22
Name: data veriable, dtype: int32

In [17]:
scalar_s = pd.Series(0.3, index = [1,2,3,4,5])
print(scalar_s)

1    0.3
2    0.3
3    0.3
4    0.3
5    0.3
dtype: float64

In [19]:
scalar_s = pd.Series(0.3, index = [1,2,3,4,5])
print(scalar_s)

1    0.3
2    0.3
3    0.3
4    0.3
5    0.3
dtype: float64

In [ ]:
# series create with dictionary

In [21]:
dict_s =pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [22]:
s4 = pd.Series([1,2,3,4,5,6,5,])
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
6    5
dtype: int64

In [23]:
s4[2]

3

In [24]:
s4[3]

4

In [25]:
for i in range(7):
    print(s4[i])

1
2
3
4
5
6
5

In [30]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [31]:
max(s4)

6

In [32]:
min(s4)

1

In [33]:
s4[s4 == 3]

2    3
dtype: int64

In [34]:
s4[ s4>= 4]

3    4
4    5
5    6
6    5
dtype: int64

In [35]:
s4

0    1
1    2
2    3
3    4
4    5
5    6
6    5
dtype: int64

In [37]:
s5 =pd.Series([2,3,4,5,6,7,8,9,"swade"])
print(s5)

0        2
1        3
2        4
3        5
4        6
5        7
6        8
7        9
8    swade
dtype: object

In [39]:
s4+s5

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
5    13.0
6    13.0
7     NaN
8     NaN
dtype: object