# create DATAFRAME in pandas

In [1]:
import pandas as pd

In [2]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
l1 = ['a','b','c','d']
print(l1)

['a', 'b', 'c', 'd']

In [7]:
df1 = pd.DataFrame(l1)
print(df1)

   0
0  a
1  b
2  c
3  d

In [8]:
df1

   0
0  a
1  b
2  c
3  d

In [11]:
l1_of_l1 = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]
print(l1_of_l1)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [12]:
df2 = pd.DataFrame(l1_of_l1)
print(df2)

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [13]:
df2

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [19]:
dict1 = {"ID": [1,2,3,45,46]}
print(dict1)

{'ID': [1, 2, 3, 45, 46]}

In [20]:
df3 = pd.DataFrame(dict1)
print(df3)

   ID
0   1
1   2
2   3
3  45
4  46

In [21]:
dict2 = {"ID": [1,2,3,45,46],'SN': [22,33,44,55,66]}
print(dict2)

{'ID': [1, 2, 3, 45, 46], 'SN': [22, 33, 44, 55, 66]}

In [22]:
df3 = pd.DataFrame(dict2)
print(df3)

   ID  SN
0   1  22
1   2  33
2   3  44
3  45  55
4  46  66

In [26]:
ls_of_dict =[{1:'s',2:'d',3:"c"},{1:'a',7:'b',3:"c"}]
print(ls_of_dict)

[{1: 's', 2: 'd', 3: 'c'}, {1: 'a', 7: 'b', 3: 'c'}]

In [27]:
df4 = pd.DataFrame(ls_of_dict)
print(df4)

   1    2  3    7
0  s    d  c  NaN
1  a  NaN  c    b

In [28]:
dict_sr ={"ID":pd.Series([1,2,3,4]),'SN':pd.Series([11,22,33,44,55,])}
df5 = pd.DataFrame(dict_sr)
df5

    ID  SN
0  1.0  11
1  2.0  22
2  3.0  33
3  4.0  44
4  NaN  55